<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.StoreMapper">

    <resultMap id="BaseResultMap" type="com.example.entity.Store">
            <id property="sampleId" column="sample_id" jdbcType="INTEGER"/>
            <id property="sampleNum" column="sample_num" jdbcType="VARCHAR"/>
            <result property="locationId" column="location_id" jdbcType="INTEGER"/>
            <result property="endDept" column="end_dept" jdbcType="DECIMAL"/>
            <result property="heartLength" column="heart_length" jdbcType="DECIMAL"/>
            <result property="storePosition" column="store_position" jdbcType="VARCHAR"/>
            <result property="saveStatus" column="save_status" jdbcType="DECIMAL"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        sample_id,sample_num,location_id,end_dept,
        heart_length,store_position,save_status,
        remark
    </sql>
    <select id="getList" resultType="com.example.entity.vo.StoreVo">
        select
        s.sample_id,
        s.sample_num,
        s.location_id,
        s.end_dept,
        s.heart_length,
        s.store_position,
        s.save_status,
        s.remark,
        l.position,
        l.x_coordinate,
        l.y_coordinate,
        l.detailed_address,
        v.voyage_name,
        sa.sea_area_name,
        st.ship_name
        from store s
        inner join location l on s.location_id = l.location_id
        inner join sea_area sa on l.sea_area_id = sa.sea_area_id
        inner join voyage v on l.voyage_id = v.voyage_id
        inner join ship_type st on v.ship_id = st.ship_id
        <where>
            <if test="sampleNum != null and sampleNum != ''">
                and s.sample_num = #{sampleNum}
            </if>
            <if test="shipName != null and shipName != ''">
                and st.ship_name = #{shipName}
            </if>
            <if test="voyageName != null and voyageName !=  ''">
                and v.voyage_name = #{voyageName}
            </if>
            <if test="seaAreaName != null and seaAreaName !=  ''">
                and sa.sea_area_name = #{seaAreaName}
            </if>
        </where>
    </select>
</mapper>
